@model RealEstate.Entities.ViewModels.MultipleDealClientManageModel
@using System.Security.Claims;
@{
    ViewBag.Title = "Just BE | Concierge";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayoutNew.cshtml";
}

  <!-- TOP HEADER START -->
<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumbs">
                    <ul class="align-items-center d-flex list-unstyled m-0 p-0">
                        <li class="d-none d-lg-block mr-4">
                            <a href="#!" id="toggleHeader"><img src="~/Content/NewVersion/images/ham.png" alt="" class="img-fluid"></a>
                        </li>
                        @*<li>Concierge<span>&nbsp;>&nbsp;</span></li>
                        <li class="active">Resources<span>&nbsp;>&nbsp;</span></li>*@

                        <li>
                            <a class="nav-link nav-cal-drop nav-cal-drop-new dropdown-toggle " href="@Url.Action("Concierge", "MyDeal", new { area = "Client" })" role="button">Resources<span>&nbsp;&gt;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <div class="accountLog d-flex justify-content-end align-items-center">
                    <p>Hello, &nbsp;<span>@(((ClaimsIdentity)User.Identity).FindFirst("FirstCustomName").Value)</span></p>
                    <div class="profileImgtop" style="background-size: cover; background-position: center;   height:50px;">
                        <!-- <img alt="profile-img" id="profileimg" class="img-fluid profileimg"> -->
                    </div>
                    <span> &nbsp; &nbsp; | &nbsp; </span>
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle mybtn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            My Account
                        </button>
                        <div class="dropdown-menu MyAccountDrop" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@Url.Action("EmailPreferences","Account",new { @area=""})"><i class="flaticon-gear"></i>Notification Settings</a>
                            <a class="dropdown-item" href="@Url.Action("EditProfile","Account",new { @area=""})"><i class="flaticon-conversation"></i>Edit Profile</a>
                            <a class="dropdown-item" href="@Url.Action("ChangePassword","Account",new { @area=""})"><i class="flaticon-password"></i>Change Password</a>

                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="flaticon-logout"></i>Logout</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TOP HEADER END -->
<!-- Main Section s -->
<div class="ConciergeOuter">
    <div class="container">


        <div class="row welcomeSection">
            <div class="col-md-12 text-center">
                <h2>
                    Access relevant resources related to
                    your real estate journey.
                </h2>
            </div>
        </div>


        <div class="ConciergerSec">
            <div class="row">

@if (Model.KeyInfoLinkList.Count() > 0)
{
    foreach (var item in Model.KeyInfoLinkList)
    {

                <div class="col-md-6">
                    <div class="ConciergeInner">
                        <div class="headerTopConcier">@item.Title</div>
                        <div class="conBanner">
                            <img src="~/Content/NewVersion/images/@item.KeyInfoImage" alt="Howard Bank">
                        </div>
                        <div class="button_C_Outer">
                            <a href="@item.TourURL" target="_blank" class="btn btn-dark"><i class="fa fa-building"></i> View</a>
                            @*<button type="button" class="btn btn-dark">VIEW</button>*@
                        </div>
                    </div>
                </div>
    }
}
            </div>
        </div>
    </div>
</div>

@*<!-- Main Section E -->
<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>Concierge</h1>

                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->

            <div class="page-header">
                <h5>Access relevant resources related to your real estate journey.</h5>
            </div>

            <div class="content">
                <div class="container">
                    <!-- /.filter -->

                    <div class="row">

                        <div class="col-md-12 col-lg-12">

                            <div class="row">




                                @if (Model.KeyInfoLinkList.Count() > 0)
                                {
                                    foreach (var item in Model.KeyInfoLinkList)
                                    {

                                        <div class="col-xl-6">
                                            <div class="listing-row">
                                                <div class="listing-row-inner">
                                                    <div class="listing-row-image" style="background-image: url('../../../../Content/AppDashboard/assets/img/tmp/agency-1.jpg');">
                                                    </div>
                                                    <div class="listing-row-content">
                                                        <h3>
                                                            <a>@item.Title</a>
                                                        </h3>
                                                        <div class="listing-row-subtitle">

                                                        </div><!-- /.listing-row-subtitle -->
                                                        <ul class="listing-row-actions">
                                                            <li><a href="@item.TourURL" target="_blank"><i class="fa fa-building"></i> View</a></li>

                                                        </ul><!-- /.listing-row-actions -->
                                                    </div><!-- /.listing-row-content -->
                                                </div><!-- /.listing-row-inner -->
                                            </div><!-- /.listing-row -->
                                        </div>
                                    }
                                }
                                <!-- /.pagination-wrapper -->
                            </div>

                        </div>






                    </div>
                    <!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div>*@



