@model RealEstate.Entities.ViewModels.VendorViewModel

@using System.Security.Claims;


@{
    //ViewBag.Title = "Detail";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayoutNew.cshtml";
}




  




    <!-- TOP HEADER START -->

    <div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumbs">
                    <ul class="align-items-center d-flex list-unstyled m-0 p-0">
                        <li class="d-none d-lg-block mr-4">
                            @*@if ((User.IsInRole("Agent") || User.IsInRole("Admin"))) { }
                            else
                            {*@
                                <a href="#!" id="toggleHeader"><img src="~/Content/NewVersion/images/ham.png" alt="" class="img-fluid"></a>
                            @*}*@
                        </li>
                       
                    
                        <li>
                            <a class="nav-link nav-cal-drop nav-cal-drop-new dropdown-toggle " href="@Url.Action("Vendors", "MyDeal", new { area = "Client" })" role="button">Vendors<span style="color:#212529">&nbsp;>&nbsp;</span></a>                        </li>
                        <li class="no-activee">@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <div class="accountLog d-flex justify-content-end align-items-center">
                    <p>Hello, &nbsp;<span>@(((ClaimsIdentity)User.Identity).FindFirst("FirstCustomName").Value)</span></p>
                    <div class="profileImgtop" style="background-size: cover; background-position: center;   height:50px;">
                        <!-- <img alt="profile-img" id="profileimg" class="img-fluid profileimg"> -->
                    </div>
                    @*@if ((User.IsInRole("Agent") || User.IsInRole("Admin"))) { }
                    else
                    {*@
                        <span> &nbsp; &nbsp; | &nbsp; </span>

                        <div class="dropdown">
                            <button class="btn  dropdown-toggle mybtn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                My Account
                            </button>
                            <div class="dropdown-menu MyAccountDrop" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="@Url.Action("EmailPreferences", "Account", new { @area = "" })"><i class="flaticon-gear"></i>Notification Settings</a>
                                <a class="dropdown-item" href="@Url.Action("EditProfile", "Account", new { @area = "" })"><i class="flaticon-conversation"></i>Edit Profile</a>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account", new { @area = "" })"><i class="flaticon-password"></i>Change Password</a>

                                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="flaticon-logout"></i>Logout</a>

                                }
                            </div>
                        </div>
                    @*}*@
                </div>

            </div>
        </div>
    </div>
</div>

    <!-- TOP HEADER END -->




    <!-- Edit Profile Sec start -->
    <section class="vetedVendersOuter">

      <div class="container">
        <div class="row">
            @foreach (var item in Model.VendorList)
            {
          <div class="col-md-4">
            <div class="vetedVendersInner">
              <div class="row">
                <div class="col-md-12 ">
                  <div class="profilePic ven-img">
                      @{ var image = "";

                          if (String.IsNullOrEmpty(item.VendorImage))
                          { image = "no-image.jpg"; }
                          else { image = item.VendorImage; }

                      }
                    <img src="../../../../img/vendors/@image"alt="profilePic">
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <ul class="vettedVenderList">
                    <li> <strong> @item.Title</strong> </li>
                  </ul>
                  <p><a class="btn btn-info" href="@Url.Action("Details","MyDeal",new {Vendor=item.VendorId })">Read More</a></p>
                </div>
              </div>
        </div>
          </div>
            }

          


        </div>
      </div>
    </section>
    <!-- Edit Profile Sec end -->






