
@{
    ViewBag.Title = "Buyer";
    Layout = "~/Views/Shared/_LayoutCommonNew.cshtml";
}
@*<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


   </style>*@

<section class="weBelieveSoulPlaceWrap buyerPageInnerWrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  
          @*<h6>You've heard of a soul mate …</h6>*@
        @*<h3>Well, we believe there's a <span>soul place</span> for everyone</h3>*@
<h3>There are <span>many reasons</span>  to start your  <br />home buying journey with us</h3>
        
        <img src="/img/Resource/Soul_Place.svg" />
        @*<div class="btn-wrap"><button class="btn darkGrayBtn" onclick="location.href = '@Url.Action("Buyer","Quiz")'">Ready to find “the one”?</button></div>*@
          <div class="btn-wrap"><button class="btn darkGrayBtn" onclick="location.href = '@Url.Action("Buyer","Quiz")'">Let’s get going</button></div>

        </div>
    </div>
  </div>
</section>
<section class="yearsDMVExpertiseWrap buyerPageInnerWrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><span>15+ years</span> of DMV real<br /> estate expertise</h3>
        <img src="/img/Resource/Washington_DC.svg" />
      </div>
    </div>
  </div>
</section>
<section class="sincerityWrap buyerPageInnerWrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><span>Sincerity</span> that prioritizes your<br /> happiness above all else</h3>
        <img src="/img/Resource/Target.svg" />
      </div>
    </div>
  </div>
</section>
<section class="rewardingWrap buyerPageInnerWrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/img/Resource/rewarding-stars.png" class="rewarding-image" />
        <h3>An experience that is easy,<br /> fun and <span>rewarding</span></h3>
        <img src="/img/Resource/Awarding.svg" />
        <div class="btn-wrap"><button class="btn darkGrayBtn"  onclick="location.href = '@Url.Action("List","Testimonials")'">See what our client’s say</button></div>
      </div>
    </div>
  </div>
</section>
<section class="innovationTechWrap buyerPageInnerWrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><span>Innovation</span> and <span>tech</span> that fits<br />  with your digital world</h3>
        <img src="/img/Resource/Innovation_and_Tech.svg" />
        <div class="btn-wrap"><button class="btn darkGrayBtn" onclick="location.href = '@Url.Action("Buyer","Quiz")'">Ready to TECH it out?</button></div>
      </div>
    </div>
  </div>
</section>
@*<section class="buyersOuter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-thumbnail" src="//img/Resource/neighborhood4.jpg" alt="">
                </br>
            </div>
            <div class="col-md-8">

                <p style="text-align:center">   <strong> At Just BE, we value what makes you uniquely you.</strong>   </p>

                <p> We've built our own one-of-a-kind platform that incorporates all of our "must-haves" for a successful real estate journey.</p>
                <p> Every step along the way is carefully crafted and meticulously focused on to guarantee that our clients feel prioritized and cared for. No more transaction-focused mentalities, no more hard selling. Your successes are our successes, and we'll do whatever it takes to get the best possible outcome for you. No task is too small, or idea too big</p>
                <p> The process of buying a home is a team effort, and even the best teams sometimes need an extra pair of hands. From lenders to home inspectors, we have an extensive list of trusted vendors available to help with each step of the way</p>
                <p>Ask more about Bridgeloans - a unique program offered by Compass designed to help buyers who are selling their current home while looking for their next one.</p>
                <p>Just as no two homes are exactly the same, no two home buying journeys are the same. Take our buyer's quiz below so we can find the best possible solutions, customized perfectly to you!</p>
                <div class="text-center">
                    <a class="btn btn-buyer-gray " href="@Url.Action("Buyer","Quiz")">Take the <br> quiz!</a>
                    <a class="btn btn-buyer-gray " href="@Url.Action("Contact","Home")">Contact <br> Us</a>
                </div>

            </div>
        </div>
    </div>
</section>*@