
@{
    ViewBag.Title = "Seller";
    Layout = "~/Views/Shared/_LayoutCommonNew.cshtml";
}

@*<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

   
</style>*@

<section class="movingOnWrap sellerPageInnerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>Time to sell your House...</h6>
                <h3>Moving on isn’t always easy but it<br /> doesn’t have to be messy</h3>
                <h5>We can get you top dollar for your place without the stress</h5>
                <img src="/img/Resource/Moving.svg" />
                <div class="btn-wrap"><button class="btn darkGrayBtn" onclick="location.href = '@Url.Action("Seller","Quiz")'">Ready to move on?</button></div>
            </div>
        </div>
    </div>
</section>
<section class="yearsDMVExpertiseWrap sellerPageInnerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3><span>15+ years</span> of DMV real<br /> estate expertise</h3>
                <img src="/img/Resource/Washington_DC.svg" />
            </div>
        </div>
    </div>
</section>
<section class="prioritizeYourGoalWrap sellerPageInnerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Sincerity that <span>prioritizes<br /> your goals</span> above all else</h3>
                <img src="/img/Resource/Target.svg" />
            </div>
        </div>
    </div>
</section>
<section class="rewardingWrap sellerPageInnerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/img/Resource/rewarding-stars.png" class="rewarding-image" />
                <h3>An experience that is easy,<br /> fun and <span>rewarding</span></h3>
                <img src="/img/Resource/Awarding.svg" />
                <div class="btn-wrap"><button class="btn darkGrayBtn"  onclick="location.href = '@Url.Action("List","Testimonials")'">See what our client’s say</button></div>
            </div>
        </div>
    </div>
</section>
<section class="innovationTechWrap sellerPageInnerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3><span>Innovation</span> and <span>tech</span> that fits<br />  with your digital world</h3>
                <img src="/img/Resource/Innovation_and_Tech.svg" />
                <div class="btn-wrap"><button class="btn darkGrayBtn" onclick="location.href = '@Url.Action("Buyer","Quiz")'">Ready to TECH it out?</button></div>
            </div>
        </div>
    </div>
</section>
@*<section class="buyersOuter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-thumbnail" src="//img/Resource/neighborhood4.jpg" alt="">
                </br>
            </div>
            <div class="col-md-8">

                <p style="text-align:center">   <strong> At Just BE, we value what makes you uniquely you.</strong>   </p>
                <p>That’s why we believe in breaking the “one-size-fits-all”  model of today’s home selling process. We’ve built our own one-of-a-kind
platform that  incorporates all of our “must-haves” for a successful real estate journey. An individual deal progress tracker, auto-syncing
calendar  with key dates, and a document management workspace are just some of the tools you’ll have access to when working with us.</p>
                <p> Did you know that more than 80% of home buyers today begin their homesearch online? By promoting your property across our
company’s platforms, we guarantee consistent online exposure and social media presence Additionally, our team will actively monitor the
 listing on all relevant third-party platforms (Zillow, Redfin, etc.) ensuring the information for your property is always accurate and
up-to-date.</p>
                <p>The process of selling a home is a team effort, and even the best teams sometimes need an extra pair of  hands. From professional
stagers to repairmen, we have an extensive list of trusted vendors available to help  with each step of the way.</p>
                <p>Ask more about Compass Concierge - a unique program offered by Compass designed to help sellers get funds to cover many of the
up-front costs to selling a home.</p>
                <p>Just as no two homes are exactly the same, no two home sales journeys are the same.  Take our seller’s journey quiz below so we
can nelp find the best possible solutions, customized perfectly to you!</p>
                <div class="text-center">
                  

                    <a class="btn btn-buyer-gray " href="@Url.Action("Seller","Quiz")">Take the <br> quiz!</a>
               
                    <a class="btn btn-buyer-gray " href="@Url.Action("Contact","Home")">Contact <br> Us</a>
                </div>

            </div>
        </div>
    </div>
</section>*@