@model RealEstate.Entities.ViewModels.MstDealAgentManageModel
<div id="DataGrid">
    <div id="listheader" class="listheader txt-lt pd-x-20 text-blue">
        <span class="listtitle text-uppercase">Transactions (@Model.ClientDetails.Count())</span>
        <span class="pull-right jb-lighttext jb-cursor" title="Add New">
            <a href="@Url.Action("createtransaction","agent",new { ClientID = Model.UserProfile.ClientID })" data-trans=""><i class="btn btn-sm btn-danger">Add new transaction</i></a>
        </span>
    </div>
    <div class="transaction-list " id="t_t_t_list" style="margin-bottom: 70px;">

        @if (Model.ClientDetails.Count() > 0)
        {
            foreach (var item in Model.ClientDetails)
            {

    <div class="transaction-item pd-y-10 pd-x-20 d-block">
        <div class="transaction-title-detail mg-b-10 align-center">
            <span class="t_t_type pull-left tx-size-13 jb-lighttext">@Html.DisplayFor(modelItem => item.ClientType)</span>
            <span class="t_t_year pull-right tx-size-13 jb-lighttext">Year: @Html.DisplayFor(modelItem => item.Year)</span>
        </div>
        <div class="transaction-detail tx-size-15 mg-b-10">
            <span id="t_t_id" class="t_t_id jb-inverse">
                @if (item.ClientType == "Buyer")
                        {
                            <a href="#" data-async="" data-type="buyer" action-home="" action="@Url.Action("managedeal","agent", new {ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-vendor="@Url.Action("DealVendor","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-upload="@Url.Action("uploaddealdocumentpv","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-gallery="@Url.Action("mediagallery","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-building="@Url.Action("DealBuilding","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" class="t_t_id jb-inverse">
                                Transaction ID:  #@Html.DisplayFor(modelItem => item.TransactionID)

                                @if (item.Status == "Active")
                                {
                            <img src="https://justbere-d4d9.kxcdn.com/img/new.png" />
                                }
                            </a>
                        }
                        else if (item.ClientType == "Seller")
                        {
                            <a href="#" data-async="" data-type="seller" action-home="@Url.Action("sellerhomepv","manageseller", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action="@Url.Action("managedeal","manageseller", new {ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-vendor="@Url.Action("DealVendor","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-upload="@Url.Action("uploaddealdocumentpv","manageseller", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-gallery="@Url.Action("mediagallery","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" action-building="@Url.Action("DealBuilding","agent", new {Email=item.Email,ClientID = item.ClientID, TransactionID=item.TransactionID, AgentID=item.AgentID})" class="t_t_id jb-inverse">
                                Transaction ID:  #@Html.DisplayFor(modelItem => item.TransactionID)
                                @if (item.Status == "Active")
                                {
                            <img src="https://justbere-d4d9.kxcdn.com/img/new.png" />
                                }
                            </a>
                        }
            </span>
        </div>
        <div class="transaction-Address tx-size-12 mg-b-10">
            <span>Address:<span class="jb-lighttext"> @Html.DisplayFor(modelItem => item.Address)</span></span>
            <div>
                <form method="post" action="@Url.Action("Delete",  new { TransactionID = item.TransactionID , clientId= Model.UserProfile.ClientID, AgentId=@ViewBag.AgentID, area = "Coordinator"})" data-kw-ajax="true" data-kw-target="#DataGrid">
                    @Html.AntiForgeryToken()
                    <a href="@Url.Action("Delete", new { TransactionID = item.TransactionID , clientId= Model.UserProfile.ClientID,AgentId=@ViewBag.AgentID,area = "Coordinator"})" class="deleteTransaction pull-right" data-toggle="tooltip" data-placement="bottom" title="Delete" data-transactionid="@item.TransactionID">
                        <i class="fa fa-trash" style="font-size:16px;"></i>
                    </a>
                </form>
                <span class="tx-size-13 pull-right jb-lighttext">
                    <a href="@Url.Action("ShareAgentTransaction","agent",new { ClientID = Model.UserProfile.ClientID,TransactionID=item.TransactionID })" data-share=""><i class="fa fa-share">Share</i>&nbsp;|&nbsp;</a>
                </span>
            </div>
        </div>
    </div>
            }
        }
        <div id="t_t_trans_item"></div>
    </div>
</div>