@model RealEstate.Web.Models.UserListViewModel


<div class="col-sm-12 clients-list-section"  id="DataGrid" >
    <div class="clients-list-inner">
        <h3>All Users</h3>
@if (Model.AgentClientView.ClientList.Count() > 0)
{
        <div class="table-wrapper">
            <div class="listing-table custom-table">
                <div class="tableHeadRow">
                    <div class="tableCell clientImage"></div>
                    <div class="tableCell clientDetails"><a href="@Url.Action("List","AllClients",new { sortOrder = Model.UserAdminSortingInfo.NameSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Client</a></div>
                    <div class="tableCell clientDetails"><a href="@Url.Action("List","AllClients",new { sortOrder = Model.UserAdminSortingInfo.AgentNameSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Agent</a></div>
                    <div class="tableCell clientDetails"><a href="@Url.Action("List","AllClients",new { sortOrder = Model.UserAdminSortingInfo.RoleSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Role</a></div>

                    <div class="tableCell clientPhnNumber"><a href="@Url.Action("List","AllClients",new { sortOrder =  Model.UserAdminSortingInfo.PhoneSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter  })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Phone Number</a></div>
                    <div class="tableCell clientTier"><a href="@Url.Action("List","AllClients",new { sortOrder =  Model.UserAdminSortingInfo.TierSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter  })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Tier</a></div>
                    <div class="tableCell clientType"><a href="@Url.Action("List","AllClients",new { sortOrder =  Model.UserAdminSortingInfo.TypeSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter  })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Type</a></div>
                    <div class="tableCell clientStage"><a href="@Url.Action("List","AllClients",new { sortOrder =  Model.UserAdminSortingInfo.StageSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter  })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Stage</a></div>
                    <div class="tableCell clientYear"><a href="@Url.Action("List","AllClients",new { sortOrder =  Model.UserAdminSortingInfo.YearSort, PageNo = Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage, searchterm=Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year=Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter  })" class="sorting" data-kw-target="#DataGrid"><img src="~/img/AdminImages/sort-icon.svg" />Year</a></div>
                    <div class="tableCell clientAction">Action</div>
                </div>
@foreach (var item in Model.AgentClientView.ClientList)
{
                <div class="tableRow">
                    <div class="tableCell clientImage"><span>
                                                           @if (item.Image == null || item.Image == "")
                                                           {
                                                               <img src="https://justbere-d4d9.kxcdn.com/img/NoImage.png" class="img-fluid" />                            }
                                                           else
                                                           {
                                                            <img src="@item.Image" class="img-fluid" />
                                                           }
                        
                    </span></div>
                    <div class="tableCell clientDetails">
                        @if (item.UserRole == "Client")
                        {
                            <a target="_blank" href="@Url.Action("ClientProfile","UserAgentNew" ,new {  ID = item.Id,area="" })">@Html.DisplayFor(modelItem => item.Name) <span>@Html.DisplayFor(modelItem => item.Email)</span></a>
                        }
                        else
                        {
                            <a target="_blank" href="#!">@Html.DisplayFor(modelItem => item.Name) <span>@Html.DisplayFor(modelItem => item.Email)</span></a>
                        }
                    </div>
                    <div class="tableCell clientTier">@item.AgentName</div>
                    <div class="tableCell clientTier">@item.UserRole</div>
                    <div class="tableCell clientPhnNumber">@Html.DisplayFor(modelItem => item.Phone)</div>
                    <div class="tableCell clientTier">@item.ClientTier</div>
                    <div class="tableCell clientType">@item.ClientType</div>
                    <div class="tableCell clientStage">@item.Stage</div>
                    <div class="tableCell clientYear">@item.Year</div>
                    <div class="tableCell clientAction" data-kw-target="#DataGrid" data-kw-ajax="true" data-kw-actionlink="@Url.Action("Delete","AllClients" ,new { Id = item.Id, PageNo = @Model.PagingInfo.CurrentPage, PageSize = Model.PagingInfo.ItemsPerPage,ListCount=@Model.AgentClientView.ClientList.Count(), sortOrder = Model.UserAdminSortingInfo.CurrentSort, searchterm = Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year = Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter, stage = Model.UserAdminListFiterInfo.StageFilter,tier=Model.UserAdminListFiterInfo.TierFilter , area = "Admin" })">
                            <a href="#!"   class="actioDelete archive"><i class="material-icons">delete</i></a>
                    
</div>
                </div>
}
            </div>
        </div>
        <div class="pagination-row ns-grid-pager" data-kw-target="#DataGrid">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="rowsPerPage">
                        @Model.PagingInfo.TotalItems &nbsp;Record(s)
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="pageNavigation ns-pagination" data-kw-target="#DataGrid" data-kw-actionlink="/Admin/AllClients/list">
                        @Html.PageLinksNew(Model.PagingInfo, x => Url.Action("list", "AllClients", new { PageNo = x, PageSize = Model.PagingInfo.ItemsPerPage, sortOrder = Model.UserAdminSortingInfo.CurrentSort, searchterm = Model.UserAdminListFiterInfo.SearchFilter, agentsearchterm = Model.UserAdminListFiterInfo.AgentSearchFilter, year = Model.UserAdminListFiterInfo.YearFilter, type = Model.UserAdminListFiterInfo.TypeFilter,stage=Model.UserAdminListFiterInfo.StageFilter, tier = Model.UserAdminListFiterInfo.TierFilter }))
                    </div>
                </div>
            </div>
        </div>
}
else
{
    <h3>No record found...</h3>
}

      
    </div>
</div>

@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
<div id="MailMsg" style="display:none;">
    <input type="hidden" id="MailMsgHiddenField" name="MailMsg" value="@TempData["MailMsg"]" />
</div>



