@model RealEstate.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Just BE | Change password";
    ViewBag.ViewHeader = "Change Password";

    //Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        Layout = "~/Views/Shared/_LayoutCommon.cshtml";

    }
    else
    {

        Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";

        <style>
            .dashboard-header h1 {
                line-height: 37px;
            }
        </style>

    }

}
<style>
    #header {
        top: 0px !important;
    }
</style>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{

    <div id="wrapper" class="wrapper-container">
        <div id="content">
            <div class="page-section-3 page-section-bg">
                <div class="container">
                    <div class="align-center content-element3">
                        <h3>@{Html.RenderAction("UserDetails", "MyDeal", new { area = "Client" });}</h3>
                        <p class="text-style2">Follow the steps to proceed towards dashboard</p>

                    </div>

                    <div class="icons-box">

                        <div class="row flex-row">

                            <div class="col-md-3 col-xs-6">

                                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                                <div class="icons-wrap">

                                    <div class="icons-item">
                                        <div class="item-box">
                                            <h6 class="icons-box-title">Step 1</h6>
                                            <hr />
                                            <i class="licon-man-woman"></i>
                                            <h6 class="icons-box-title"><a href="#">Secure Password</a></h6>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3 col-xs-6">

                                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                                <div class="icons-wrap">

                                    <div class="icons-item">
                                        <div class="item-box">
                                            <h6 class="icons-box-title">Step 2</h6>
                                            <hr />
                                            <i class="licon-profile"></i>
                                            <h6 class="icons-box-title"><a href="#">Set your profile picture</a></h6>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3 col-xs-6">

                                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                                <div class="icons-wrap">

                                    <div class="icons-item">
                                        <div class="item-box">
                                            <h6 class="icons-box-title">Step 3</h6>
                                            <hr />
                                            <i class="icon-email"></i>
                                            <h6 class="icons-box-title"><a href="#">Set your notification settings</a></h6>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3 col-xs-6">

                                <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                                <div class="icons-wrap">

                                    <div class="icons-item">
                                        <div class="item-box">
                                            <h6 class="icons-box-title">Step 4</h6>
                                            <hr />
                                            <i class="licon-arrow-right"></i>
                                            <h6 class="icons-box-title"><a href="#">Go to your dashboard</a></h6>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sidebar left">
                </div>
            </div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()

            { TempData["message"] = ViewBag.message; }
            <div class="col-md-8" style="margin-top: 10px;">
                <div class="row">
                    <h4>Change Password</h4>
                    <hr />
                    <div class="col-md-8 my-profile">
                        @Html.ValidationSummary(true)
                        <label>Current Password</label>
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control three-quarter-width" })
                        <label>New Password</label>
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control three-quarter-width" })
                        <label>Confirm New Password</label>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control three-quarter-width" })

                        <div class="container">

                            <div class="align-center">

                                <h3 class="section-title"><b></b></h3>
                                <div class="page-nav">
                                    <button class="btn btn-big style-5 col-lg-offset-2 btnmob">Save Changes</button>
                                </div>

                            </div>

                        </div>
                        @*@if (!string.IsNullOrEmpty(ViewBag.message))
                            {

                                <div class="container">

                                    <div class="align-center">

                                        <h3 class="section-title"><b></b></h3>
                                        <div class="page-nav">
                                            <a></a>

                                            <a  href="@Url.Action("EditProfile","Account",new { Message=ViewBag.message,@area=""})" class="btn btn-big style-2">I'll do it later</a>


                                            <a></a>
                                        </div>

                                    </div>

                                </div>

                            }*@

                    </div>

                    <div class="col-md-4">
                        <!-- Avatar -->
                        <div class="notification notice">
                            <p>Please change your password for security region,Your password should be at least 6 characters long to be safe</p>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
 else
 {
    <div class="main-wrapper">
                                    <div class="main">
                                        <div class="main-inner">

                                            <div class="content-title">
                                                <div class="content-title-inner">
                                                    <div class="container">
                                                        <h1>Change Password</h1>

                                                    </div><!-- /.container -->
                                                </div><!-- /.content-title-inner -->
                                            </div><!-- /.content-title -->

                                            <div class="content">
                                                <div class="container">
                                                    <!-- /.filter -->

                                                    <div class="row">

                                                        <div class="col-lg-offset-3 col-lg-8">

                                                            <div class="container-fluid">
                                                                <div class="dashboard-header">
                                                                    <h1>Your password should be at least 6 characters long to be safe</h1>
                                                                </div>


                                                                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                                {
                                                                    @Html.AntiForgeryToken()

                                                                    { TempData["message"] = ""; }


                                                                    <div class="listing-contact-form">
                                                                        <div class="row">
                                                                            <form method="post" action="#">
                                                                                <div class="col-sm-12">
                                                                                    <div class="form-group">
                                                                                        <label>Old Password</label>
                                                                                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                                                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                                                                    </div><!-- /.form-group -->

                                                                                    <div class="form-group">
                                                                                        <label>New Password</label>
                                                                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                                                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                                                                    </div><!-- /.form-group -->

                                                                                    <div class="form-group">
                                                                                        <label>Password Again</label>
                                                                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control three-quarter-width" })
                                                                                    </div><!-- /.form-group -->
                                                                                </div><!-- /.col-* -->
                                                                                <!-- /.col-* -->

                                                                                <div class="col-sm-12">
                                                                                    <div class="form-group-btn">
                                                                                        <button class="btn btn-primary pull-right">Save Changes</button>
                                                                                    </div><!-- /.form-group-btn -->
                                                                                </div><!-- /.col-* -->
                                                                            </form>
                                                                        </div><!-- /.row -->
                                                                    </div>


                                <!-- /.dashboard-header -->
                                <!-- /.dashboard-header -->
                                                                }

                                                            </div>

                                                        </div>






                                                    </div>
                                                    <!-- /.row -->
                                                </div><!-- /.container -->
                                            </div><!-- /.content -->
                                        </div><!-- /.main-inner -->
                                    </div><!-- /.main -->
                                </div>
 }

<div class="page-content-wrap"></div>
<style>
    label {
        display: block;
        font-weight: bold;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 8px;
        text-transform: unset;
    }

    @@media screen and (min-width: 320px) and (max-width: 425px) {
        .btnmob {
            margin-left: 70px;
            margin-bottom: 23px;
        }
    }
</style>