@model RealEstate.Web.Models.ChangePasswordViewModel
@using System.Security.Claims;
@{
    ViewBag.Title = "Just BE | Change password";
    ViewBag.ViewHeader = "Change Password";


    //if (!string.IsNullOrEmpty(ViewBag.Message))
    //{
    //    Layout = "~/Views/Shared/_LayoutCommonNew.cshtml";

    //}
    //else
    //{

    Layout = "~/Areas/Client/Views/Shared/_ClientLayoutNew.cshtml";


    //  }

}
<style>
    #header {
        top: 0px !important;
    }
    <style>
    .pass-eye{
    position:relative;

}
.pass-eye  .field-icon {
    position: absolute;
    right: 22px;
    z-index: 99;
    /*background: red;*/
    height: 20px;
    width: 20px;
    top: 41px;
    content: "2";
cursor:pointer;
}
</style>


@*@if (!string.IsNullOrEmpty(ViewBag.Message))
    {

        <section class="welcomeSection">
            <div class="container">
                @if (ViewBag.message == "WelcomeBack")
                    {
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>@{Html.RenderAction("UserDetails", "MyDeal", new { area = "Client" });}</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled multi-steps">
                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step1.png" alt=""> </span> <br> Password Secured<br><strong> </strong></li>
                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step2.png" alt=""> </span> <br> Set your  <br><strong>Profile picture </strong></li>
                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step3.png" alt=""> </span> <br> Set your<br><strong>Notification settings </strong></li>
                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step4.png" alt=""> </span> <br> Go to your<br><strong>Dashboard </strong></li>
                            </ul>
                        </div>
                    </div>


                                }

                                else
                                {

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h2>Welcome to Just BE</h2>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled multi-steps">
                                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step1.png" alt=""> </span> <br> Sign-up<br><strong>Form </strong></li>
                                                <li class="is-active"><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step2.png" alt=""> </span> <br> Set your <br><strong>Profile picture </strong></li>
                                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step3.png" alt=""> </span> <br> Set your<br><strong>Notification settings </strong></li>
                                                <li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step4.png" alt=""> </span> <br> Go to your<br><strong>Dashboard </strong></li>
                                            </ul>
                                        </div>
                                    </div>




                                }




                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        { TempData["message"] = ViewBag.message; }


                }
            </div>

        </section>
                                }
                                else
                                {*@
<!-- TOP HEADER START -->

<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumbs">
                    <ul class="align-items-center d-flex list-unstyled m-0 p-0">
                        <li class="d-none d-lg-block mr-4">
                            @if ((User.IsInRole("Agent") || User.IsInRole("Admin"))) { }
                            else
                            {
                                <a href="#!" id="toggleHeader"><img src="~/Content/NewVersion/images/ham.png" alt="" class="img-fluid"></a>
                            }
                        </li>
                        @*<li>My Account<span>&nbsp;>&nbsp;</span></li>
                        <li class="active">Change Password<span>&nbsp;>&nbsp;</span></li>*@
                        <li>
                            <a class="nav-link nav-cal-drop nav-cal-drop-new dropdown-toggle " href="@Url.Action("ChangePassword", "Account", new { area = "" })" role="button">Change Password<span style="color:#212529">&nbsp;>&nbsp;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <div class="accountLog d-flex justify-content-end align-items-center">
                    <p>Hello, &nbsp;<span>@(((ClaimsIdentity)User.Identity).FindFirst("FirstCustomName").Value)</span></p>
                    <div class="profileImgtop" style="background-size: cover; background-position: center;   height:50px;">
                        <!-- <img alt="profile-img" id="profileimg" class="img-fluid profileimg"> -->
                    </div>
                    @if ((User.IsInRole("Agent") || User.IsInRole("Admin"))) { }
                    else
                    {
                        <span> &nbsp; &nbsp; | &nbsp; </span>

                        <div class="dropdown">
                            <button class="btn  dropdown-toggle mybtn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                My Account
                            </button>
                            <div class="dropdown-menu MyAccountDrop" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="@Url.Action("EmailPreferences", "Account", new { @area = "" })"><i class="flaticon-gear"></i>Notification Settings</a>
                                <a class="dropdown-item" href="@Url.Action("EditProfile", "Account", new { @area = "" })"><i class="flaticon-conversation"></i>Edit Profile</a>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account", new { @area = "" })"><i class="flaticon-password"></i>Change Password</a>

                                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="flaticon-logout"></i>Logout</a>

                                }
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<!-- TOP HEADER END -->
<!-- Edit Profile Sec start -->
<section class="editProfileOuter negMart">

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="editProfileInner">


                    <div class="changePasswordSection">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p>
                                        <strong>
                                            Your password should be at least 6
                                            characters long to be safe
                                        </strong>
                                    </p>
                                </div>
                            </div>

                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                { TempData["message"] = ""; }
                              
                                                            <div class="row">

                                                                <div class="col-md-12 mb-3 pass-eye">
                                                                    <label for="validationServer01">Old Password</label>

                                                                    @if (!string.IsNullOrEmpty(ViewBag.ValError))
                                                                    {
                                                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control is-invalid" })
                                                                        <span toggle="#password-field" class="fa fa-eye-slash field-icon toggle-password" onclick="showpasss(this)"></span>
                                                                        <div class="invalid-feedback">
                                                                      Incorrect password
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                                                        <span toggle="#password-field" class="fa fa-eye-slash field-icon toggle-password" onclick="showpasss(this)"></span>

                                                                    }
                                                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                                                </div>


                                                            </div>

                                                                <div class="row">
                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="validationServer03">New Password</label>
                                                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })



                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="validationServer03">Confirm Password</label>
                                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })


                                                                    </div>
                                                                </div>


                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <button class="btn btn-darkGray">Save Changes</button>
                                                                    </div>
                                                                </div>
                                                                <!-- </form> -->


                            }
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</section>
<!-- Edit Profile Sec end -->

<script>
        function showpasss(obj) {
            $(obj).toggleClass("fa-eye-slash fa-eye");
            var input = $($(obj).attr("toggle"));
            var input1 = $("#OldPassword");
            if (input1.attr("type") == "password") {
                input1.attr("type", "text");
            } else {
                input1.attr("type", "password");
            }
        }
</script>
<style>
   

    .text-danger {
        font-size: 90%;
    }
</style>