@model RealEstate.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Just BE | Forgot password?";
    Layout = "~/Views/Shared/_AppLayout.cshtml";

}


<h2>Forgot Password</h2>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("")
    <div class="form-group">
        <label for="">Enter your email</label>
        <div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
    </div><!-- /.form-group -->
    <!-- /.form-group -->
    <div class="form-group-btn">
        <input type="submit" class="btn btn-primary pull-right" name="login" value="Send Email" />

    </div><!-- /.form-group-btn -->

}

<div class="dashboard-footer">
    <p>
        &copy; 2018 Just BE. All Rights reserved.
    </p>
    <ul style="background-color: rgba(255, 255, 255, 0.4);border: 1px solid #DDDDDD;">
        <li><a style="font-size: 1.30em;" href="@Url.Action("Login","Account")">Log In</a></li>
        <li><a style="font-size: 1.30em;" href="@Url.Action("Register","Account")">I don't have an account</a></li>
    </ul>
</div>


@section Scripts {
@Scripts.RenderFormat(
    "<script src='https://justbere-d4d9.kxcdn.com/{0}' ></script>",
    "~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jqueryval")*@
}


<style>
    label {
        font-size: 1.0em;
    }

    .dashboard-login-left ul li {
        padding: 0px 0;
    }

    p {
        font-size: 1.20em;
    }
</style>