@model RealEstate.Web.Models.RegisterManagelModel
@{
    ViewBag.Title = "Just BE | Sign Up";
    Layout = "~/Views/Shared/_AppLayoutNew.cshtml";

}

@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{

<section class="welcomeSection">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Welcome to Just BE</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled multi-steps">
                    @*<li><span class="stepsCircle"> <img src="~/Content/NewVersion/images/step1.png" alt=""> </span><br>Sign-up<br><strong>Form </strong></li>*@
                    <li class="is-active"><span class="stepsCircle"> <i class="fa fa-sign-in" aria-hidden="true"></i> </span> <br>Create<br><strong>Account</strong></li>
                    <li><span class="stepsCircle"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> </span><br> Set <br><strong> Profile Picture </strong></li>
                    <li><span class="stepsCircle"> <i class="fa fa-envelope-o" aria-hidden="true"></i> </span><br> Set<br><strong>Notification Settings </strong></li>
                    <li><span class="stepsCircle"> <i class="fa fa-newspaper-o" aria-hidden="true"></i> </span> <br> View<br><strong>Dashboard </strong></li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="stepOuter">
                    <form>
                       
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @*<h3 class="text-center">Sign Up on Just BE</h3>*@
                        <h3 class="text-center"></h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">First Name</label>
                                    @*<input type="text" class="form-control" id="" placeholder="">*@
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Last Name</label>
                                    @*<input type="text" class="form-control" id="" placeholder="">*@
                                    @Html.TextBoxFor(m => m.RegisterViewModel.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Email</label>
                                    @*<input type="email" class="form-control" id="" placeholder="">*@
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Phone No.</label>
                                    @Html.TextBoxFor(m => m.RegisterViewModel.PhoneNumber, new { @class = "form-control", @placeholder = "###.###.####", @maxlength = "12" })


                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Password</label>
                                    @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Repeat Password</label>
                                    @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @*<a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-info" role="button">I forgot my password</a>*@
                                    <a href="@Url.Action("Login", "Account")" class="btn btn-info" role="button">I already have an account</a>
                                </div>
                                <div class="form-group col-md-6 ">
                                   
                                </div>
                            </div>
                        
                    </form>

                    </div>
                </div>
            </div>

            <br>
            <div class="row mobileAlign">
                <div class="col-md-6">
                    <!-- <button type="button" class="btn btn-lightGray">Back</button> -->
                    @*<a class="btn btn-lightGray" href="http://bedmv.com/" role="button">Back</a>*@
                </div>
                <div class="col-md-6 ">
                    @*<a class="btn btn-darkGray fltRt" href="register_step2.html" role="button">Save and Continue</a>*@
                    <input type="submit" class="btn btn-darkGray fltRt" name="login" value="Sign Up" />
                    <!-- <button type="button" class="btn btn-darkGray"></button> -->
                </div>
            </div>


        </div>
    </section>

}

    @section Scripts {

        @Scripts.RenderFormat(
    "<script src='https://justbere-d4d9.kxcdn.com/{0}' ></script>",
    "~/bundles/jqueryval")

        @*@Scripts.Render("~/bundles/jqueryval")*@

        <script>
            $('#RegisterViewModel_PhoneNumber')

          .keydown(function (e) {
              var key = e.which || e.charCode || e.keyCode || 0;
              $phone = $(this);

              // Don't let them remove the starting '('


              // Auto-format- do not expose the mask as the user begins to type
              if (key !== 8 && key !== 9) {
                  if ($phone.val().length === 3) {
                      $phone.val($phone.val() + '.');
                  }
                  if ($phone.val().length === 7) {
                      $phone.val($phone.val() + '.');
                  }

              }

              // Allow numeric (and tab, backspace, delete) keys only
              return (key == 8 ||
                      key == 9 ||
                      key == 46 ||
                      (key >= 48 && key <= 57) ||
                      (key >= 96 && key <= 105));
          })

          .bind('focus click', function () {
              $phone = $(this);


          })

          .blur(function () {
              $phone = $(this);


          });
        </script>
    }
