@model RealEstate.Entities.Calculator.MstMortgageCalculator
@{

    ViewBag.Title = "BuyerClosingCost";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
}
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@


<link href="~/Content/Redfin/JustberePayment.css" rel="stylesheet" />
<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="content-title">
                <div class="content-title-inner">
                    <div class="container">
                        <h1>Payment Calculator</h1>

                    </div><!-- /.container -->
                </div><!-- /.content-title-inner -->
            </div><!-- /.content-title -->
            <div class="customer-facing container   HomeDetailsPage   route-HomeDetail">
                <div id="content" class="has-js container col-md-10 ">
                    <div class="">
                        <div class="delayLoadedComponentWrapper pageComponentsContainer">
                            <div class="dp-col-sm-12 dp-col-md-8">
                                <section class="Section MortgageCalculatorSection  has-top-rule ">
                                    <div class="sectionContainer">


                                        <div class="MortgageCalculator" style="background-color: #fff;">
                                            <div class="calculatorContentsContainer">
                                                @Html.Partial("pvDirectCost", Model)
                                                @using (Html.BeginForm("Affordibility", "Tools", FormMethod.Get, new { @id = "Mortgage", @class = "mortgage-calculator" }))
                                                {
                                                    <div class="MortgageCalculatorForm">
                                                        <div class="PrincipalAndInterestRow dot-row">
                                                            <div class="field TextAndSlider ">
                                                                <span class="field text Text valueStaticText" aria-disabled="false">
                                                                    <span class="label">Home Price</span><span class="input">
                                                                        <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                            <div class="sublabel" style="color: #2d2121!important;">$</div>
                                                                            <div class="dijitInputField dijitInputContainer">
                                                                                @Html.TextBoxFor(model => model.Inputs.HousePrice, new { @data_unit = "$", @class = "dijitInputInner currency HomePriceValue drop-change", @type = "number", min = "1000", step = "1000" })


                                                                                @*<input placeholder="$0" inputmode="" class="dijitInputInner currency HomePriceValue" type="text" value="$749,000">*@
                                                                            </div>

                                                                        </div>
                                                                    </span>
                                                                </span>
                                                                <input id="HomePriceSlider" type="range" class="Slider homeprice drop-change" max="1279900" min="599200" step="1000" value="">
                                                            </div>
                                                            <div class="field TextAndSlider ">
                                                                <div class="text-with-percent with-label">
                                                                    <span class="field text Text" aria-disabled="false">
                                                                        <span class="label">Down Payment</span>
                                                                        <span class="input">
                                                                            <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                                <div class="sublabel" style="color: #2d2121!important;">$</div>
                                                                                <div class="dijitInputField dijitInputContainer">
                                                                                    @Html.TextBoxFor(model => model.Inputs.DownPayment, new { @data_unit = "$", @class = "dijitInputInner currency DownPayment drop-change", @type = "number", min = "1000", step = "1000" })
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                    </span>
                                                                    <span class="field text Text dp" aria-disabled="false">
                                                                        <span class="label"></span>
                                                                        <span class="input">
                                                                            <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                                <div class="dijitInputField dijitInputContainer">
                                                                                    @Html.TextBoxFor(model => model.Inputs.DownPercent, new { @data_unit = "%", @class = "dijitInputInner percent  drop-change", @type = "number", min = "0", step = "1", max = "100" })
                                                                                </div>
                                                                                <div class="sublabel">%</div>
                                                                            </div>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <input id="DownPaymentSlider" type="range" class="Slider DownPaymentSlider drop-change" max="@Model.Inputs.HousePrice" min="0" step="1" value="">
                                                            </div>
                                                        </div>
                                                        <div class="SecondaryInputsRow dot-row">
                                                            <div class="field TextAndSlider ">
                                                                <div class="text-with-percent with-label">
                                                                    <span class="field text Text" aria-disabled="false">
                                                                        <span class="label">
                                                                            <div class="DefinitionFlyout definition-flyout-container react inline-block">
                                                                                <span class="DefinitionFlyoutLink inline-block">
                                                                                    Property Taxes

                                                                                </span>
                                                                            </div>
                                                                        </span><span class="input">
                                                                            <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                                <div class="dijitInputField dijitInputContainer">
                                                                                    @Html.TextBoxFor(model => model.Inputs.PropertyTax, new { @data_unit = "%", @class = "dijitInputInner currency PropertyTax drop-change", @type = "number", min = "100", step = "100" })
                                                                                </div>
                                                                                <div class="sublabel">/ year</div>
                                                                            </div>
                                                                        </span>
                                                                    </span>
                                                                    <span class="field text Text ct" aria-disabled="false">
                                                                        <span class="label"> </span><span class="input">
                                                                            <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                                <div class="dijitInputField dijitInputContainer">
                                                                                    @Html.TextBoxFor(model => model.Inputs.PropertyTaxPercent, new { @data_unit = "%", @class = "dijitInputInner percent PropertyTaxPercent drop-change", @type = "number", min = "0.10", step = "0.10" })
                                                                                </div>
                                                                                <div class="sublabel">%</div>
                                                                            </div>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <span class="field text Text" aria-disabled="false">
                                                                <span class="label">
                                                                    <div class="DefinitionFlyout definition-flyout-container react inline-block">
                                                                        <span class="DefinitionFlyoutLink inline-block">
                                                                            HOA Dues

                                                                        </span>
                                                                    </div>
                                                                </span><span class="input">
                                                                    <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                        <div class="dijitInputField dijitInputContainer">
                                                                            @Html.TextBoxFor(model => model.Inputs.HOAFees, new { @data_unit = "%", @class = "dijitInputInner currency  drop-change", @type = "number", min = "100", step = "100" })
                                                                        </div>
                                                                        <div class="sublabel">/ month</div>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="SecondaryInputsRow dot-row">
                                                            <span class="field text Text" aria-disabled="false">
                                                                <span class="label">
                                                                    <div class="DefinitionFlyout definition-flyout-container react inline-block">
                                                                        <span class="DefinitionFlyoutLink inline-block">
                                                                            Interest Rate

                                                                        </span>
                                                                    </div>
                                                                </span>
                                                                <span class="input">
                                                                    <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                        <div class="dijitInputField dijitInputContainer">
                                                                            @Html.TextBoxFor(model => model.Inputs.MortgageRate, new { @data_unit = "%", @class = "dijitInputInner percent  drop-change InterestRate", @type = "number", min = "1", step = "1" })
                                                                        </div>
                                                                        <div class="sublabel">%</div>
                                                                    </div>
                                                                </span>
                                                            </span>

                                                            <span class="field text Text" aria-disabled="false">
                                                                <span class="label">
                                                                    <div class="DefinitionFlyout definition-flyout-container react inline-block">
                                                                        <span class="DefinitionFlyoutLink inline-block">
                                                                            Homeowners' Insurance

                                                                        </span>
                                                                    </div>
                                                                </span><span class="input">
                                                                    <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                        <div class="dijitInputField dijitInputContainer">
                                                                            @Html.TextBoxFor(model => model.Inputs.HomeInsurance, new { @data_unit = "%", @class = "dijitInputInner currency  drop-change", @type = "number", min = "100", step = "100" })
                                                                        </div>
                                                                        <div class="sublabel">/ month</div>
                                                                    </div>
                                                                </span>
                                                            </span>

                                                        </div>
                                                        <div class="SecondaryInputsRow dot-row">
                                                            <span class="field text Text" aria-disabled="false">
                                                                <span class="label">
                                                                    <div class="DefinitionFlyout definition-flyout-container react inline-block">
                                                                        <span class="DefinitionFlyoutLink inline-block">
                                                                            Loan Type

                                                                        </span>
                                                                    </div>
                                                                </span><span class="input" style="height:49px">
                                                                    <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                        <div class="dijitInputField dijitInputContainer">
                                                                            @Html.DropDownListFor(model => model.Inputs.TimeFrame, new SelectList(Model.TimePeriod, "TimeFrame", "TimeFrame"), "--- Select Years --- ", new { @class = "form-control drop-change ddl-select2 " })
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                            <span class="field text Text" aria-disabled="false">
                                                                <span class="label">
                                                                    <div class="DefinitionFlyout definition-flyout-container react inline-block">
                                                                        <span class="DefinitionFlyoutLink inline-block">
                                                                            Maintainance

                                                                        </span>
                                                                    </div>
                                                                </span>
                                                                <span class="input">
                                                                    <div role="presentation" class="dijit dijitInline dijitLeft value text dijitTextBox dijitValidationTextBox">
                                                                        <div class="dijitInputField dijitInputContainer">
                                                                            @Html.TextBoxFor(model => model.Inputs.Maintenance, new { @data_unit = "%", @class = "dijitInputInner percent  drop-change", @style = "height:27px", @type = "number", min = "100", step = "100" })
                                                                        </div>
                                                                        <div class="sublabel">/ month</div>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    .Section.has-top-rule:before {
        border-top: unset;
    }
</style>
<style>
    @@media (max-width: 769px) {
        .route-HomeDetail {
            background-color: #fff;
        }

        .phvalues {
            width: 98.03921569% !important;
        }
        #chartcontainer
        {
            min-width: 270px !important;
        }
    }

     @@media only screen and (max-device-width: 1024px) and (min-device-width: 481px) and (orientation: portrait) {
           .route-HomeDetail {
            background-color: #fff;
        }
        .chartcontainer
        {
            min-width: 370px !important;
        }
        }
</style>
@section Scripts{


    <script src="~/Content/Redfin/JustBerePayment.js"></script>
}