@model RealEstate.Entities.ViewModels.MstCheckLoggedClientDeal


@*@if (User.IsInRole("Client"))
{

    if (Model.CheckAgent.Count() > 0)
    {

        <li class="nav-item nav-item-parent" id="sidebar">
            <a href="#" class="nav-link" id="Agent">
                My Agent
            </a>
            <ul class="sub-menu">

                @foreach (var item in Model.CheckAgent)
                {
                    <li><a href="@Url.Action("MyAgent","MyDeal",new {@AgentID=item.Id,@AgentName=item.AgentName, @area="Client"})">@item.AgentName</a></li>
                }
            </ul>
        </li>


    }

    else
    {
        <li class="nav-item nav-item-parent" id="sidebar">
            <a id="Agent" href="@Url.Action("Jay","MyDeal",new { @area="Client"})" class="nav-link kk">
                My Agent
            </a>

        </li>
    }
}*@




@if (User.IsInRole("Client"))
{

    if (Model.CheckAgent.Count() > 0)
    {
        @*<a class="dropdown-item" href="#!"><i class="flaticon-crime"></i>My Agent</a>*@
        <li data-toggle="collapse" data-target="#myAgent" class="collapsed ">
            <a href="#"><i class="flaticon-crime"></i>My Agent <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="myAgent">
            @foreach (var item in Model.CheckAgent)
            {

            @*<a class="dropdown-item pl30 check-name  check-@item.AgentName.Replace(" ", "")" href="@Url.Action("MyAgent","MyDeal",new {@AgentID=item.Id,@AgentName=item.AgentName, @area="Client"})"><i class="flaticon-crime"></i>@item.AgentName</a>*@
            <li class="check-name check-@item.AgentName.Replace(" ", "") find-super"><a class="" href="@Url.Action("MyAgent", "MyDeal", new { @AgentID = item.Id, @AgentName = item.AgentName, @area = "Client" })"><span class="enterBix">↳</span>@item.AgentName </a></li>
            }
            
        </ul>
    }
    else
    {

            @*<a class="dropdown-item check-agentJay" href="@Url.Action("Jay","MyDeal",new { @area="Client"})"><i class="flaticon-crime"></i>My Agent</a>*@


            <li class="check-agentJay">
                <a href="@Url.Action("Jay", "MyDeal", new { @area = "Client" })">My Agent </a>
            </li>
    }

}
