@model RealEstate.Entities.ViewModels.MstDealViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_RealEstate.cshtml";
}
<script src="https://justbere-d4d9.kxcdn.com/Scripts/jquery-3.1.1.js"></script>
<script src="https://justbere-d4d9.kxcdn.com/Content/Plugins/Select2/select2.min.js"></script>

<div class="col-md-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)


            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Manage Deal</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.utblMstTrackDeal.Email, new { @class = "control-label col-md-3 pull-left" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.utblMstTrackDeal.Email, new SelectList(Model.MstClientDDL, "Email", "ClientName"), "--- Select Client --- ", new { @class = "form-control ddl-select2" })
                            @Html.ValidationMessageFor(model => model.utblMstTrackDeal.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.utblMstTrackDeal.StatusID, new { @class = "control-label col-md-3 pull-left" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.utblMstTrackDeal.StatusID, new SelectList(Model.MstStatusDDL, "StatusID", "Status"), "--- Select Status --- ", new { @class = "form-control  ddl-select2" })
                            @Html.ValidationMessageFor(model => model.utblMstTrackDeal.StatusID)
                        </div>
                    </div>

                    

                    
                    </div>
                </div>


           
        </div>
        <div class="box-footer">

            <div class="well well-sm col-md-12 col-lg-12 text-right">
                <div class="form-horizontal">
                    @Html.ActionLink("Back to List", "list", null, new { @class = "btn btn-default pull-left" })
                    <input type="submit" value="next" id="save" class="btn btn-primary" />
                </div>
            </div>
            </div>
            }
        </div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#utblMstTrackDeal_ClientID").select2({ width: '100%' });
        $.validator.setDefaults({
            ignore: ''
        });

    });
</script>