@model RealEstate.Entities.ViewModels.MstStatusViewModel
<div id="DataGrid" class="col-left-nil col-right-nil">
    @if (Model.MstStatusList.Count() > 0)
    {
        <div class="table-responsive" style="overflow-x:visible;">
            <table class="table table-striped table-condensed table-bordered table-responsive">
                <thead>
                    <tr>
                        
                        <th class="text-center" style="vertical-align: middle;">
                            Status
                        </th>
                        <th class="text-center" style="vertical-align: middle;">
                            Description
                        </th>
                        <th class="text-center" style="vertical-align:middle;">
                            Percentage
                        </th>
                        <th class="text-center" style="vertical-align:middle;">
                            Updated On
                        </th>

                        <th class="text-center" style="vertical-align: middle;">
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MstStatusList)
                    {
                        <tr>
                            
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Percentage)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.UpdatedOn)
                            </td>

                            <td class="text-center">
                                <div class="col-md-offset-3">
                                    <div style="float:left; padding-right: 8px;">
                                        <a href="@Url.Action("Edit", new { StatusID = item.StatusID })" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                                    <div style="float:left">
                                        <form method="post" action="@Url.Action("delete", "Status",new { area = "Admin" })" data-kw-ajax="true" data-kw-target="#DataGrid">
                                            @Html.AntiForgeryToken()
                                            <a href="@Url.Action("delete", new { StatusID = item.StatusID})" class="delete" data-toggle="tooltip" data-placement="bottom" title="Delete ">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h3>No record found...</h3>
    }
</div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>