
@{
    ViewBag.Title = "Just BE | Buyer Tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>4 Tips for Effectively Making an Offer!</h2>
                @*<span>Keep up to date with the latest Article</span>*@

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Article</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Blog Posts -->
    <div class="blog-page">
        <div class="row">

            <!-- Post Content -->
            <div class="col-md-8">

                <!-- Blog Post -->
                <div class="blog-post single-post">
                    <!-- Img -->
                    <img class="post-img" src="~/img/home selling tips.jpg" alt="">

                    <!-- Content -->
                    <div class="post-content">
                        <h3>4 Tips for Effectively Making an Offer!</h3>
                        <ul class="post-meta">
                            <li>Novemer 9, 2016</li>
                        </ul>
                        <p>So, you’ve been searching for that perfect house to call a ‘home,’ and you finally found one! The price is right, and in such a competitive market, you want to make sure that you make a good offer so that you can guarantee that your dream of making this house yours comes true!</p>
                        <p>Freddie Mac covered “4 Tips for Making an Offer” in their latest Executive Perspective. Here are the 4 tips they covered along with some additional information for your consideration:</p>
                        <div class="post-quote">
                            <span class="icon"></span>
                            <h3 style="color:#37b6bd">
                                1. Understand How Much You Can Afford
                            </h3>
                            <blockquote>
                                “While it's not nearly as fun as house hunting, fully understanding your finances is critical in making an offer.”
                            </blockquote>
                            <p>This ‘tip’ or ‘step’ should really take place before you start your home search process.</p>
                            <p class="text-justify">As we’ve mentioned before, getting pre-approved is one of many steps that will show home sellers that you are serious about buying, and will allow you to make your offer with the confidence of knowing that you have already been approved for a mortgage for that amount. You will also need to know if you are prepared to make any repairs that may need to be made to the house (ex: new roof, new furnace).</p>
                        </div>
                        <div class="margin-bottom-20"></div>
                        <h3 style="color:#37b6bd">
                            2. Act Fast
                        </h3>
                        <blockquote>
                            “Even though there are fewer investors, the inventory of homes for sale is also low and competition for housing continues to heat up in many parts of the country.”
                        </blockquote>
                        <p class="text-justify">
                            According to the latest Existing Home Sales Report, the inventory of homes for sale is currently at a 3.7-month supply; this is well below the 6-month supply that is needed for a ‘normal’ market. Buyer demand has continued to outpace the supply of homes for sale, causing buyers to compete with each other for their dream homes.
                        </p>
                        <p>Make sure that as soon as you decide that you want to make an offer, you work with your agent to present it as soon as possible</p>
                        <h3 style="color:#37b6bd">
                            3. Make a Solid Offer
                        </h3>
                        <i>Freddie Mac offers this advice to help make your offer the strongest it can be:</i>
                        <blockquote class="text-justify">
                            “Your strongest offer will be comparable with other sales and listings in the neighborhood. A licensed real estate agent active in the neighborhoods you are considering will be instrumental in helping you put in a solid offer based on their experience and other key considerations such as recent sales of similar homes, the condition of the house and what you can afford.”
                        </blockquote>
                        <p>
                            Talk with your agent to find out if there are any ways that you can make your offer stand out in this competitive market!
                        </p>
                        <h3 style="color:#37b6bd">4. Be Prepared to Negotiate</h3>
                        <blockquote class="text-justify">
                            “It's likely that you'll get at least one counteroffer from the sellers so be prepared. The two things most likely to be negotiated are the selling price and closing date. Given that, you'll be glad you did your homework first to understand how much you can afford.
                        </blockquote>
                        <blockquote class="text-justify">Your agent will also be key in the negotiation process, giving you guidance on the counteroffer and making sure that the agreed-to contract terms are met.”</blockquote>

                        <p>
                            If your offer is approved, Freddie Mac urges you to “always get an independent home inspection, so you know the true condition of the home." If the inspector uncovers undisclosed problems or issues, you can discuss any repairs that may need to be made with the seller, or cancel the contract.
                        </p>

                        <h2 style="color:#37b6bd">
                            Bottom Line
                        </h2>
                        <p>
                            Whether you’re buying your first home or your fifth, having a local professional on your side who is an expert in their market is your best bet in making sure the process goes smoothly. Happy House Hunting!
                        </p>
                        <!-- Share Buttons -->
                        @*<ul class="share-buttons margin-top-40 margin-bottom-0">
                            <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
                            <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
                            <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
                            <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li>
                        </ul>*@
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Blog Post / End -->
                <!-- Post Navigation -->
                <ul id="posts-nav" class="margin-top-0 margin-bottom-40">
                    <li class="next-post">
                        <a href="@Url.Action("SellerGuides","Article")">
                            <span>Next Post</span>
                            Things to Consider When Selling Your House
                        </a>
                    </li>
                    <li class="prev-post">
                        <a href="@Url.Action("BuyerGuides", "Article")">
                            <span>Previous Post</span>
                            4 REASONS TO BUY A HOME THIS SEASON!
                        </a>
                    </li>
                </ul>


            </div>
            <!-- Content / End -->
            <!-- Sidebar
            ================================================== -->
            <!-- Widgets -->
            <div class="col-md-4">
                <div class="sidebar right">
                    @{Html.RenderAction("Enquiry", "Article");}
                    <div class="widget">
                        <h3>Popular Posts</h3>
                        <ul class="widget-tabs">

                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="@Url.Action("BuyerGuides","Article")"><img src="~/img/Buyhouse.png" alt=""></a>
                                    </div>

                                    <div class="widget-text">
                                        <h5><a href="@Url.Action("BuyerGuides","Article")">Things to Consider When Buying A Home</a></h5>
                                        <span>October 26, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="@Url.Action("SellerGuides","Article")"><img src="~/img/sellhome.png" alt=""></a>
                                    </div>

                                    <div class="widget-text">
                                        <h5><a href="@Url.Action("SellerGuides","Article")">Things to Consider When Selling Your House</a></h5>
                                        <span>October 26, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                            


                        </ul>
                    </div>
                    <!-- Widget / End-->
                    <!-- Widget -->
                    @*<div class="widget">
                        <h3 class="margin-top-0 margin-bottom-25">Social</h3>
                        <ul class="social-icons rounded">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>*@
                    <!-- Widget / End-->
                    <div class="clearfix"></div>
                    <div class="margin-bottom-40"></div>
                </div>
            </div>
        </div>
        <!-- Sidebar / End -->

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {

        $('form').submit(function () {
            if (isValidEmailAddress($("#Email").val())) {
                $("#ajaxLoading").css("display", "block");
                $("#ajaxLoading").css("top", $(window).height() / 1.8);
                $("#ajaxLoading").css("left", $(window).width() / 2);
                $("#ajaxLoading").css("position", "fixed");
                $("#ajax-backdrop").css("display", "block");
                var serializedForm = $(this).serialize();
                $.ajax({
                    url: '@Url.Action("Enquiry")',
                    type: "POST",
                    data: serializedForm,

                    success: function (result) {
                        $("#ajaxLoading").css("display", "none");
                        $("#ajax-backdrop").css("display", "none");
                        $('#ErrorView').text(result).show();

                    },
                    error: function (result) {

                        $('#ErrorView').text(result).show();
                        //$('#Error').text(result.Email);
                    }

                });

            }
            else {
                $("#ErrorView").text("Invalid Email Address!").show().fadeOut("slow");
            }

            return false;
        });
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }
    if (!isValidEmailAddress(emailID)) {
        alert("email not valid");
    }

    </script>
}